<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="A COVID 19 app showing statistical data of covid 19 cases in Nigeria" />
  <link rel="shortcut icon" type="image/jpg" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/main.5c428e9cd84f9bd9381f.css" />
  <title>Naija Covid Stat</title>
</head>

<body>
  <header>
    <div class="menu-btn">
      <div class="btn-line"></div>
      <div class="btn-line"></div>
      <div class="btn-line"></div>
    </div>
    <nav class="nav" id="nav">
      <ul class="links">
        <li class="link borderGreen logo-link">
          <img class="logo" src="/images/logo.webp" alt="" />
        </li>
        <li class="link borderGreen"><a href="/">HOME</a></li>
        <li class="link borderYellow"><a href="/stat">STATISTICS</a></li>
        <li class="link borderBlue"><a href="">ABOUT</a></li>
        <li class="link borderOrange"><a href="">API</a></li>
      </ul>
    </nav>
  </header>
  {{{body}}}
  {{!--     <script src="/vendor.0209869e0d5ff99481e1.bundle.js"></script>
 --}}
  <script src="/main.d9625ecb922c80b79abf.bundle.js"></script>
</body>

</html>