<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A COVID 19 app showing statistical data of covid 19 cases in Nigeria"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>
      <nav class="nav" id="nav">
        <ul class="links">
          <li class="link borderGreen logo-link">
            <img class="logo" src="/images/logo.png" alt="" />
          </li>
          <li class="link borderGreen"><a href="/">HOME</a></li>
          <li class="link borderYellow"><a href="/stat">STATISTICS</a></li>
          <li class="link borderBlue"><a href="">ABOUT</a></li>
          <li class="link borderOrange"><a href="">API</a></li>
        </ul>
      </nav>
    </header>
        {{{body}}}
    <footer id="footer">Copyright © 2020 Designed by Brien Pisces Tech</footer>
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/serviceComponent.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
