
    <main class="row" id="home">
        <div class="main-background">
          <div class="bg-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem accusamus culpa veniam incidunt! Harum ipsa facilis rerum ducimus libero alias.
          </div>
        </div>
        <div class="main-section">
          <section class="box nat-stat" id="national-stat">
            <header class="header">
              National Stats
            </header>
            <main>
              <div class="box-content nat-cases">
                <span>Reported Cases:</span> <span class="nat-value"></span>
              </div>
              <div class="box-content nat-cases">
                <span>Discharged:</span> <span class="nat-value"></span>
              </div>
              <div class="box-content nat-cases">
                <span>Deaths:</span> <span class="nat-value"></span>
              </div>
            </main>
          </section>
          <section class="box state-stat">
            <header class="header">
              States Stats
            </header>
            <main id="home-state">
             
            </main>
          </section>
        </div>

    </main>
 
