@include mediaLg {
  /* ******************************* */
  /* *********MENU BTN*********** */
  /* ******************************* */
  .menu-btn {
    display: none;
  }

  /* ******************************* */
  /* *********NAV BAR********** */
  /* ******************************* */
  .nav {
    height: 3rem;
    border-bottom: none;

    ul.links {
      grid-template-columns: 7rem repeat(4, 1fr);
      grid-template-rows: 3rem;
    }

    li.link {
      a {
        line-height: 3rem;
      }
    }
  }

  .nav .logo-link .logo {
    width: 7rem;
    height: 3rem;
  }

  main#home {
    height: calc(100vh - 5.5rem);
    grid-template-columns: 25rem auto;
    grid-template-areas: "main bg";

    .main-background {
      grid-area: bg;
      height: 100%;
      &::after {
        height: 100%;
      }
    }

    .bg-text {
      width: 30%;
      position: absolute;
      bottom: 3rem;
      left: 3rem;
    }

    .main-section {
      grid-area: main;
      overflow-y: auto;
    }
  }

  #footer {
    height: 2.5rem;
    color: green;
    background-color: #fff;
    text-align: center;
    line-height: 2.5rem;
    border-top: 2px solid $yellow;
  }
}

/* **********FORM STYLING******************* */
.mt-1 {
  margin-top: 1rem;
}

.form-group {
  grid-template-rows: 2rem;
  margin-bottom: 0.5rem;
}

.input-label {
  line-height: 2rem;
  padding: 0 0.3rem;
  background-color: lightgrey;
}

.btn-green {
  color: white;
  padding: 0.5rem;
  background-color: $green;
  cursor: pointer;
  border-radius: 5px;
  border: solid $green 1px;
  @include easeOut();

  &:hover {
    background-color: lighten($green, 40);
    color: $green;
  }
}

.block {
  display: block;
  width: 100%;
}
