.borderOrange {
  border-bottom: solid 2px orange;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.borderOrange:hover {
  color: orange;
}

.borderGreen {
  border-bottom: solid 2px #0ddd0d;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.borderGreen:hover {
  color: #0ddd0d;
}

.borderBlue {
  border-bottom: solid 2px #87cfeb;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.borderBlue:hover {
  color: #87cfeb;
}

.borderYellow {
  border-bottom: solid 2px #ffe600;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.borderYellow:hover {
  color: #ffe600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  color: #fff;
  background-color: #0ddd0d;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.box, main#login .login-form, main#update .login-form, main#login .register-form, main#update .register-form {
  width: 80%;
  margin: 0 auto 3rem;
  border: solid rgba(128, 128, 128, 0.274) 1px;
  border-top: 2px solid #0ddd0d;
  padding: 1rem;
  -webkit-box-shadow: 1px 4px 7px 1px #000000b5;
          box-shadow: 1px 4px 7px 1px #000000b5;
}

.box-content {
  padding: 1rem;
  font-size: 1.2rem;
  color: #272727;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% auto;
      grid-template-columns: 70% auto;
}

/* **********MENU BUTTON **************** */
.menu-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  z-index: 3;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
  background-color: #000;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

/* ****************************************************** */
.nav {
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  border-bottom: solid 3px greenyellow;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.nav ul.links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
  -ms-grid-rows: 3.5rem (2.5rem)[4];
      grid-template-rows: 3.5rem repeat(4, 2.5rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.nav li.link {
  width: 100%;
  height: 100%;
}

.nav li.link a {
  display: inline-block;
  color: green;
  width: 100%;
  height: 100%;
  line-height: 2.5rem;
  text-align: center;
}

.nav .logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .logo-link .logo {
  width: 4rem;
  height: 2rem;
}

main#home {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  min-height: calc(100vh - 5.5rem);
}

main#home .main-background {
  background: url("/images/bg.jpg") no-repeat right;
  background-size: cover;
  position: relative;
  height: 15rem;
}

main#home .main-background::after {
  position: absolute;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 15rem;
  background-color: rgba(12, 39, 12, 0.651);
  z-index: 1;
}

main#home .bg-text {
  color: #fff;
  width: 50%;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
}

main#home .main-section {
  width: 100%;
  padding-top: 3rem;
}

main#login, main#update {
  min-height: calc(100vh - 5.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main#login .login-form, main#update .login-form {
  max-width: 30rem;
}

main#login .register-form, main#update .register-form {
  max-width: 30rem;
}

/* ********UPDATE PAGE ****************** */
main#update .update-form {
  width: 90vw;
  margin-bottom: 1rem;
}

main#update .update-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main#update .update-field .form-group, main#update .update-field .form-insert {
  width: 15rem;
}

/* ****************STAT PAGE ****************** */
main#stat {
  position: relative;
  min-height: calc(100vh - 5.5rem);
}

main#stat .stat-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightgray;
  height: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

main#stat .stat-header .stat-link {
  line-height: 3rem;
  padding: 0 0.5rem;
  background-color: #fff;
  background-color: lightgray;
  border-bottom: grey solid 2px;
  cursor: pointer;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

main#stat .stat-header .blank {
  background-color: lightgray;
  width: 100%;
  border-bottom: grey solid 2px;
}

main#stat .stat-header .active-page, main#stat .stat-header .stat-link:hover {
  background-color: #fff;
  border: grey solid 2px;
  border-bottom: none;
  border-top: none;
  color: #0ddd0d;
}

main#stat .stat-header .short {
  display: none;
}

main#stat .pages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

main#stat .pages .stat-main {
  position: relative;
}

main#stat .pages .svg {
  position: relative;
  bottom: 2px;
}

main#stat .hide {
  display: none;
}

#footer {
  height: 2.5rem;
  color: #fff;
  background-color: green;
  text-align: center;
  line-height: 2.5rem;
}

/* **********FORM STYLING******************* */
.form-group, .form-insert {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  -ms-grid-rows: 1.5rem;
      grid-template-rows: 1.5rem;
  margin-bottom: 0.5rem;
  border: solid 1px grey;
  border-radius: 5px;
}

.form-group:first-child, .form-insert:first-child {
  margin-top: 1rem;
}

.form-insert {
  -ms-grid-columns: max-content auto max-content;
      grid-template-columns: -webkit-max-content auto -webkit-max-content;
      grid-template-columns: max-content auto max-content;
}

.input-label {
  line-height: 1.5rem;
  padding: 0 0.3rem;
  background-color: lightgrey;
}

.input {
  width: 100%;
  color: #3f3f3f;
  outline: none;
  padding-left: 0.5rem;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.input:focus {
  border-bottom: #0ddd0d solid 2px;
}

.btn-green {
  position: relative;
  height: 2rem;
  color: white;
  padding: 0.5rem;
  background-color: #0ddd0d;
  cursor: pointer;
  border-radius: 5px;
  border: solid #0ddd0d 1px;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

.btn-green:hover {
  background-color: #bbfbbb;
  color: #0ddd0d;
}

.block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.error, .success {
  background-color: #f73838;
  color: white;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  display: none;
  text-align: center;
}

.success {
  background-color: #0ddd0d;
}

.spinner {
  position: absolute;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  border: white solid 2px;
  border-bottom: #0ddd0d;
  top: 0.4rem;
  right: 6rem;
  -webkit-animation: spinner 500ms linear infinite;
          animation: spinner 500ms linear infinite;
  display: none;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (min-width: 769px) {
  /* ******************************* */
  /* *********MENU BTN*********** */
  /* ******************************* */
  .menu-btn {
    display: none;
  }
  /* ******************************* */
  /* *********NAV BAR********** */
  /* ******************************* */
  .nav {
    height: 3rem;
    border-bottom: none;
  }
  .nav ul.links {
    -ms-grid-columns: 7rem (1fr)[4];
        grid-template-columns: 7rem repeat(4, 1fr);
    -ms-grid-rows: 3rem;
        grid-template-rows: 3rem;
  }
  .nav li.link a {
    line-height: 3rem;
  }
  .nav .logo-link .logo {
    width: 7rem;
    height: 3rem;
  }
  main#home {
    height: calc(100vh - 5.5rem);
    -ms-grid-columns: 25rem auto;
        grid-template-columns: 25rem auto;
        grid-template-areas: "main bg";
  }
  main#home .main-background {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: bg;
    height: 100%;
  }
  main#home .main-background::after {
    height: 100%;
  }
  main#home .bg-text {
    width: 30%;
    position: absolute;
    bottom: 3rem;
    left: 3rem;
  }
  main#home .main-section {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: main;
    overflow-y: auto;
  }
  #footer {
    height: 2.5rem;
    color: green;
    background-color: #fff;
    text-align: center;
    line-height: 2.5rem;
    border-top: 2px solid #ffe600;
  }
  /* **********FORM STYLING******************* */
  .mt-1 {
    margin-top: 1rem;
  }
  .form-group, .form-insert {
    -ms-grid-rows: 2rem;
        grid-template-rows: 2rem;
    margin-bottom: 0.5rem;
  }
  .input-label {
    line-height: 2rem;
    padding: 0 0.3rem;
    background-color: lightgrey;
  }
  .btn-green {
    color: white;
    padding: 0.5rem;
    background-color: #0ddd0d;
    cursor: pointer;
    border-radius: 5px;
    border: solid #0ddd0d 1px;
    -webkit-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
  }
  .btn-green:hover {
    background-color: #bbfbbb;
    color: #0ddd0d;
  }
  .block {
    display: block;
    width: 100%;
  }
  main#stat {
    /* .svg{
      height:calc(100vh - 9rem) ;
      width: 100%;
    } */
  }
  main#stat .stat-header .short {
    display: inline-block;
  }
  main#stat .pages {
    -ms-grid-columns: 25rem auto;
        grid-template-columns: 25rem auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "side main";
  }
  main#stat .pages .stat-side {
    height: calc(100vh - 9rem);
    overflow-y: scroll;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: side;
  }
  main#stat .pages .stat-main {
    height: calc(100vh - 9rem);
    overflow-y: scroll;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: main;
  }
  main#stat .pages .svg {
    position: absolute;
    bottom: 2px;
  }
}
/*# sourceMappingURL=main.css.map */