@import "./config";

@mixin easeOut {
  transition: all ease-out 300ms;
}

$orange: orange;
$green: rgb(13, 221, 13);
$blue: rgb(135, 207, 235);
$yellow: rgb(255, 230, 0);
$large-text: 1.5rem;
$mid-text: 1.2rem;
$normal-text: 1rem;
$small-text: 0.8rem;
$text-black: rgb(39, 39, 39);

.borderOrange {
  border-bottom: solid 2px orange;
  @include easeOut();
  &:hover {
    color: orange;
  }
}

.borderGreen {
  border-bottom: solid 2px rgb(13, 221, 13);
  @include easeOut();
  &:hover {
    color: rgb(13, 221, 13);
  }
}

.borderBlue {
  border-bottom: solid 2px rgb(135, 207, 235);
  @include easeOut();
  &:hover {
    color: rgb(135, 207, 235);
  }
}

.borderYellow {
  border-bottom: solid 2px rgb(255, 230, 0);
  @include easeOut();
  &:hover {
    color: rgb(255, 230, 0);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  &:visited {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  color: #fff;
  background-color: $green;
  padding: 1rem;
  font-size: $large-text;
  text-align: center;
}

.box {
  width: 80%;
  margin: 0 auto 3rem;
  border: solid rgba(128, 128, 128, 0.274) 1px;
  border-top: 2px solid $green;
  padding: 1rem;
  box-shadow: 1px 4px 7px 1px #000000b5;
}

.box-content {
  padding: 1rem;
  font-size: $mid-text;
  color: $text-black;
  display: grid;
  grid-template-columns: 70% auto;
}

/* **********MENU BUTTON **************** */
.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  color: #000;
  z-index: 3;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    @include easeOut;
    background-color: #000;
  }

  //Rotate Into X with Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
/* ****************************************************** */

.nav {
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  border-bottom: solid 3px greenyellow;
  @include easeOut();

  ul.links {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-rows: 3.5rem repeat(4, 2.5rem);
    align-items: center;
    margin: 0;
  }

  li.link {
    width: 100%;
    height: 100%;
    a {
      display: inline-block;
      color: green;
      width: 100%;
      height: 100%;
      line-height: 2.5rem;
      text-align: center;
    }
  }

  .logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      width: 4rem;
      height: 2rem;
    }
  }
}

main#home {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  min-height: calc(100vh - 5.5rem);

  .main-background {
    background: url("/images/bg.jpg") no-repeat right;
    background-size: cover;
    position: relative;
    height: 15rem;

    &::after {
      position: absolute;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 15rem;
      background-color: rgba(12, 39, 12, 0.651);
      z-index: 1;
    }
  }

  .bg-text {
    color: #fff;
    width: 50%;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 2;
  }

  .main-section {
    width: 100%;
    padding-top: 3rem;
  }
}

main#login {
  min-height: calc(100vh - 5.5rem);
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    @extend .box;
    max-width: 30rem;
  }

  .register-form {
    @extend .box;
    max-width: 30rem;
  }
}
/* ********UPDATE PAGE ****************** */
main#update {
  @extend main#login;

  .update-form {
    width: 90vw;
    margin-bottom: 1rem;
  }
  .update-field {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .form-group {
      width: 15rem;
    }
  }
}

/* ****************STAT PAGE ****************** */
main#stat {
  position: relative;
  min-height: calc(100vh - 5.5rem);

  .stat-header {
    width: 100%;
    display: flex;
    background-color: rgb(211, 211, 211);
    height: 3rem;
    flex-flow: row nowrap;
    justify-content: right;

    .stat-link {
      line-height: 3rem;
      padding: 0 0.5rem;
      background-color: #fff;
      background-color: rgb(211, 211, 211);
      border-bottom: grey solid 2px;
      cursor: pointer;
      @include easeOut();
      &:hover {
        @extend .active-page;
      }
    }

    .blank {
      background-color: rgb(211, 211, 211);
      width: 100%;
      border-bottom: grey solid 2px;
    }

    .active-page {
      background-color: #fff;
      border: grey solid 2px;
      border-bottom: none;
      border-top: none;
      color: $green;
    }

    .short {
      display: none;
    }
  }

  .pages {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    .stat-main {
      position: relative;
    }

   .svg{
     position: relative;
     bottom: 2px;
   }
  }

  .hide {
    display: none;
  }
}

#footer {
  height: 2.5rem;
  color: #fff;
  background-color: green;
  text-align: center;
  line-height: 2.5rem;
}

/* **********FORM STYLING******************* */
.form-group {
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 1.5rem;
  margin-bottom: 0.5rem;
  border: solid 1px grey;
  border-radius: 5px;
}

.form-group:first-child {
  margin-top: 1rem;
}

.form-insert {
  @extend .form-group;
  grid-template-columns: max-content auto max-content;
}

.input-label {
  line-height: 1.5rem;
  padding: 0 0.3rem;
  background-color: lightgrey;
}

.input {
  width: 100%;
  color: rgb(63, 63, 63);
  outline: none;
  padding-left: 0.5rem;
  @include easeOut();

  &:focus {
    border-bottom: $green solid 2px;
  }
}

.btn-green {
  position: relative;
  height: 2rem;
  color: white;
  padding: 0.5rem;
  background-color: $green;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: solid $green 1px;
  @include easeOut();

  &:hover {
    background-color: lighten($green, 40);
    color: $green;
  }
}

.block {
  width: 100%;
  display: flex;
}

.error {
  background-color: rgb(247, 56, 56);
  color: white;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  display: none;
  text-align: center;
}

.success {
  @extend .error;
  background-color: $green;
}

.spinner {
  position: absolute;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  border: white solid 2px;
  border-bottom: $green;
  top: 0.4rem;
  right: 6rem;
  animation: spinner 500ms linear infinite;
  display: none;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "./responsive";
